.Blog {
  background-color: #000;
  height: 200vh;
}
.blog_title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Imbue;
  font-size: 128px;
  font-weight: 500;
  line-height: 154px;
  letter-spacing: 0.185em;
}
.blog_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog_top {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 1152px;
  height: 506px;
  border: 1px solid #fff;
  background-color: #141414;
}
.blog_bottom {
  width: 1152px;
  height: 778px;
  border: 1px solid #fff;
}
.blog_top-left {
  width: 353px;
  height: 285px;
  border: 1px solid #ffffff;
}
.blog_top-right {
  width: 695px;
  height: 426px;
  border: 1px solid #ffffff;
}
