.header {
  top: 0;
  height: 60px;
  background-color: #171717;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  z-index: 10000;
  /* opacity: 0.9; */
}

.header_lists {
  display: flex;
  margin-right: 20px;
}
.header_items {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
}
.header_lists a {
  text-decoration: none;
}
.header_lists_options {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 70px;
  margin-right: 70px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.contact_btn {
  color: #fff;
  padding: 10px;
  background-color: #39882b;
  border-radius: 8px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  outline: none;
}
