.home {
  height: calc(100vh-60px);
  background-color: #000;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 55px; */
  margin-left: auto;
  margin-right: auto;
  height: 690px;
  width: 1300px;
}

.content_pic {
  width: 873.96px;
  height: 622.77px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
}

.get_started_button {
  width: 200px;
  height: 50px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.02em;
}
