@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Southmore';
    src: url('Southmore.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
