.header{
    top: 0;
    height:60px;
    background-color: #131921;
    position:sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10000;
}
.header_lists{
    display: flex;
    margin-right: 20px;

}
.header_lists a{
    text-decoration: none;
}
.header_lists_options{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
