body{
  margin-bottom:150px;
}
.upload_images {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #c25656;
  height: 600px;
  width: 900px;
}
.image-preview img {
  width: 100%;
  height: 550px;
  object-fit: contain;
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.upload-label svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-right: 10px;
}

.upload-input {
  display: none;
}
.info {
  text-align: center;
}
.align {
  display: flex;
  justify-content: center;
}
.get-result-button {
  cursor: pointer;
  padding: 5px;
}
